<?xml version='1.0' encoding='utf-8'?>
<widget id="net.smarking.logan" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LoganAtSmarking</name>
    <description>
        A simple Application for Logan Admin Portal.
    </description>
    <author email="hzhou.me@gmail.com" href="http://sbzhouhao.net">
        Smarking Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
